nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.dark(href='#') qNinja
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/dashboard') Dashboard
        li
          a(href='/qmanagement') qManagement
        li
          a(href='/qnotify') qNotify
      ul.nav.pull-right.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.glyphicon.glyphicon-search
          ul.dropdown-menu(style='padding:12px;')
            form.form-inline
              button.btn.btn-default.pull-right(type='submit')
                i.glyphicon.glyphicon-search
              input.form-control.pull-left(type='text', placeholder='Search')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.glyphicon.glyphicon-user
            i.glyphicon.glyphicon-chevron-down
          ul.dropdown-menu
            li
              a(href='#')
                i.fa.fa-user
                |  Login
            li
              a(href='#')
                i.fa.fa-cog
                |  Settings
            li.divider
            li
              a(href='#')
                i.fa.fa-sign-out
                |  Logout
