doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="Content-Language", content="en")
    block title
    link(rel="icon", href="../img/lion.png", type="image/x-icon")
    link(rel="shortcut icon", href="../img/lion.png", type="image/x-icon")
    link(href="../bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    block css

  body
    include ./includes/navbar.jade
    .container-fluid
      .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Brand
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        // /.nav-collapse
    .container
      .text-center
        h1 Bootstrap starter template
        p.lead
          | Use this document as a way to quickly start any new project.
          br
          |  All you get is this text and a mostly barebones HTML document.
    // /.container
  
  script(type="text/javascript", src="../bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript", src="../bower_components/bootstrap/dist/js/bootstrap.min.js")