extends ../layout.jade

block title
	title dashboard

block css
	include ./includes/css.jade

block content
	.row-fluid(ng-app="dashboard" ng-controller="dash")
		//- Dashboard
		.col-md-12.col-lg-5
			#accordion.panel-group
				.panel.panel-default
					.panel-heading
						a.accordion-toggle(data-toggle='collapse', href='#collapseOne')
							i.fa.fa-home
							h3 snielson
							i.glyphicon.glyphicon-chevron-down.pull-right
						a.install.pull-right(href='files/workPluginsTyler.zip')
							i.fa.fa-cloud-download
					#collapseOne.panel-collapse.collapse.in
						.panel-body
							.col-md-4.nopadding
								.row-fluid
									ul.list
										li
											h2.blue-steelblue Services
										li.full
											a(href='https://tharris5.lab.novell.com', target='_blank') NPAM Administration Console
										li.full
											a(href='https://tharris5.lab.novell.com/myaccess/', target='_blank') NPAM User Console (MyAccess)
										li.full
											a(href='https://tharris16.lab.novell.com/admin', target='_blank') NetIQ Advanced Authentication
										li.full
											a(href='https://tharris6.lab.novell.com:8443/nps/servlet/portal', target='_blank') iManager
										li.full
											a.ripplelink(href='https://tharris14.lab.novell.com/nps', target='_blank') NAM 4.2 Appliance
										li.full
											a.ripplelink(href='ftp://tharris1.lab.novell.com', target='_blank') FTP
										li.full
											a.ripplelink(href='http://novprvwin0569.provo.novell.com:8080/administrator', target='_blank') KNOVA Admin Console
											
							.col-md-8.nopadding
								//- TOP-ROW Section
								.row-fluid
									.col-md-6.nopadding
										ul.list
											li
												h2.red-chesnutrose tharris3
											li.full
												a(href='ssh://tharris3.lab.novell.com/root:novell123') ESXi
										ul.list
											li
												h2.black Remote Access
											li.row
												a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='ssh://tharris1.lab.novell.com/root:novell') t1: ubu-dev
											li.row
												a.col-md-10.col-xs-10(href='ssh://tharris5.lab.novell.com/root:novell') t5: sles11-manager
												a.col-md-2.col-xs-2(href='vnc://tharris5.lab.novell.com:5901')
													i.center.fa.fa-laptop
											li.row
												a.col-md-10.col-xs-10(href='ssh://tharris6.lab.novell.com/root:novell') t6: sles11-idm
												a.col-md-2.col-xs-2(href='vnc://tharris6.lab.novell.com:5901')
													i.fa.fa-laptop
											li.row
												a.col-md-10.col-xs-10(href='ssh://tharris7.lab.novell.com/root:novell') t7: sles12-agent
												a.col-md-2.col-xs-2(href='vnc://tharris7.lab.novell.com:5901')
													i.fa.fa-laptop
											li.row
												a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='ssh://tharris10.lab.novell.com/root:novell') t10: redhat6-agent
											li.row
												a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='ssh://tharris11.lab.novell.com/root:novell') t11: redhat7-agent
											//- li.row
											//- 	a.col-md-10.col-xs-10(href='ssh://tharris12.lab.novell.com/root:novell') t12: sles11-idm
											//- 	a.col-md-2.col-xs-2(href='vnc://tharris12.lab.novell.com:5901')
											//- 		i.fa.fa-laptop
											//- li.row
											//- 	a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='ssh://tharris13.lab.novell.com/root:novell') t13: aix7-agent
									.col-md-6.nopadding
										ul.list
											li(style='list-style: none; display: inline')
												h2.green-jade tharris4
											//- purple-honeyflower,  green-jade, green-emerald
											li.full
												a(href='ssh://tharris4.lab.novell.com/root:novell123') ESXi
											//- li.full
											//- 	a(href='https://dchenworth8.lab.novell.com:8006', target='_blank') vSphere WebClient
										ul.list
											li(style='list-style: none; display: inline')
												h2.black Remote Access
											li.row
												a.col-md-10.col-xs-10(href='rdp-tdh://t8.rdp') t8: win2008-agent
												a.col-md-2.col-xs-2(href='rdp-tdh://t8.RDP')
													i.fa.fa-laptop
											li.row
												a.col-md-10.col-xs-10(href='rdp-tdh://t9.rdp') t9: win2012-agent
												a.col-md-2.col-xs-2(href='rdp-tdh://t9.RDP')
													i.fa.fa-laptop


								//- REMOTE ACCESS Section
								//- .row-fluid		
								//- 	.col-md-6.nopadding
										
								//- 	.col-md-6.nopadding
			
		//- Queue
		.col-sm-12.col-lg-7
			#accordion1.panel-group
				.panel.panel-default
					.panel-heading
						a.accordion-toggle(data-toggle='collapse' data-target="#queue" href='#queue')
							i.fa.fa-hourglass-half
							h3 Wallboard
							i.glyphicon.glyphicon-chevron-down.pull-right
						a.install.pull-right(href='http://gwsupport.lab.novell.com/1.php', target='_blank')
							i.fa.fa-external-link-square
					#queue.panel-collapse.collapse.in
						.panel-body.wallboard-panel
							iframe(sandbox='allow-same-origin allow-scripts allow-popups allow-forms', seamless='seamless', src='http://gwsupport.lab.novell.com/1.php')

		//- TID Feed
		.col-md-12.col-lg-5
			#accordion2.panel-group
				.panel.panel-default
					.panel-heading
						a.accordion-toggle(data-toggle='collapse' data-target="#tidFeed" href='#tidFeed')
							i.fa.fa-feed
							h3 Recent KB Articles / TIDs
							i.glyphicon.glyphicon-chevron-down.pull-right
					#tidFeed.panel-collapse.collapse.in
						.panel-body.wallboard-panel
							h6.feed-title.black GMS
							feed(url="http://www.novell.com/newsfeeds/rss/tids/tids_data_synch.xml" count="3" summary="false" template-url="templates/feed-kb-articles.html")
							h6.feed-title.black GW
							feed(url="http://www.novell.com/newsfeeds/rss/tids/tids_gw.xml" count="3" summary="false" template-url="templates/feed-kb-articles.html")
							h6.feed-title.black Vibe
							feed(url="http://www.novell.com/newsfeeds/rss/tids/tids_vibe.xml" count="3" summary="false" template-url="templates/feed-kb-articles.html")
							h6.feed-title.black Filr
							feed(url="http://www.novell.com/newsfeeds/rss/tids/tids_filr.xml" count="3" summary="false" template-url="templates/feed-kb-articles.html")

		//- Forums Feed https://forums.novell.com/external.php?type=RSS2&forumids=1340
		.col-sm-12.col-lg-7
			#accordion3.panel-group
				.panel.panel-default
					.panel-heading
						a.accordion-toggle(data-toggle='collapse' data-target="#forumFeed" href='#forumFeed')
							i.fa.fa-feed
							h3 GMS Recent Forum Posts
							i.glyphicon.glyphicon-chevron-down.pull-right
					#forumFeed.panel-collapse.collapse.in
						.panel-body.wallboard-panel
							feed(url="https://forums.novell.com/external.php?type=RSS2&forumids=942" template-url="templates/feed-forum-post.html" summary="true")

		//- Bug Feed
		//- .col-sm-12.col-lg-7
			#accordion2.panel-group
				.panel.panel-default
					.panel-heading
						a.accordion-toggle(data-toggle='collapse' data-target="#tidFeed" href='#tidFeed')
							i.fa.fa-feed
							h3 NPAM Recent Bugs
							i.glyphicon.glyphicon-chevron-down.pull-right
					#tidFeed.panel-collapse.collapse.in
						.panel-body.wallboard-panel
							feed(url="ftp://ftp.tdharris.com/outgoing/bugs2.xml")
		

		//- Queue
		//- .col-sm-12.col-lg-7
			#accordion2.panel-group
				.panel.panel-default
					.panel-heading
						a.accordion-toggle(data-toggle='collapse', href='#prodQueue')
							i.fa.fa-hourglass-half
							h3 Prod Queue
							i.glyphicon.glyphicon-chevron-down.pull-right
						a.install.pull-right(href='https://prod11i.innerweb.novell.com/pls/apex/f?p=125:5001:31166590036566::NO:RP::', target='_blank')
							i.fa.fa-external-link-square
					#prodQueue.panel-collapse.collapse.in
						.panel-body
							iframe(sandbox='allow-same-origin allow-scripts allow-popups allow-forms', seamless='seamless', src='https://prod11i.innerweb.novell.com/pls/apex/f?p=125:5001:31166590036566::NO:RP::')

block js
	include ./includes/js.jade