link(href="src/css/animate.css", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,500", rel="stylesheet", type="text/css")
link(href="../bower_components/angular-feeds/app/angular-feeds/angular-feeds.min.css", rel="stylesheet", type="text/css")
link(href="src/css/angular-feed.css", rel="stylesheet", type="text/css")
link(href="src/css/dashboard.css", rel="stylesheet", type="text/css")