//- script(src="../bower_components/jquery/jquery.min.js")
//- script(src="../bower_components/jquery/jquery.min.map")
//- script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")

//- angular
script(src="../bower_components/angular/angular.min.js")
script(src="src/js/app.js")

//- http://siddii.github.io/angular-feeds/app/
script(type="text/javascript" src='../bower_components/yui/build/yui/yui-min.js')
script(type="text/javascript" src='../bower_components/yui/build/oop/oop-min.js')
script(type="text/javascript" src='../bower_components/yui/build/jsonp/jsonp-min.js')
script(type="text/javascript" src='../bower_components/yui/build/jsonp-url/jsonp-url-min.js')
script(type="text/javascript" src='../bower_components/yui/build/yql/yql-min.js')
script(type="text/javascript" src='../bower_components/yui/build/yql-jsonp/yql-jsonp-min.js')
//- script(type="text/javascript" src="../bower_components/angular-feeds/app/angular-feeds/angular-feeds.js")
script(type="text/javascript" src="../bower_components/angular-feeds.min.js")

script(src="src/js/dashboard.js")