extends ../layout.jade

block title
  title qmanagement

block css
  include ./includes/css.jade

block content
  #app(ng-app="myApp")
    #blurMe.main(ng-controller="SRCtrl", ng-init="init()", ng-form="email")
      #page
        include ./includes/modal.jade
        .row-fluid
          .col-md-3.column
            include ./includes/controlPanel.jade
          .col-md-9.column
            include ./includes/contentPanel.jade
        .row
          .col-md-12.column
            include ./includes/serviceRequestsPanel.jade

block js
  include ./includes/js.jade