extends ../layout.jade

block title
  title qmanagement

block css
  include ./includes/css.jade

block content
  #app(ng-app="myApp")
    #blurMe.main(ng-controller="SRCtrl", ng-init="init()")
      #page
        .row-fluid.clearfix
          .col-md-3.column
            #credentials.panel.panel-dark
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-user.space-right
                  h3 Login
              .panel-body
                form(ng-submit="getServiceRequests()")
                  .form-group
                    .input-group.add-on
                      input#userid.form-control(type="text", ng-model="formData.engineer", placeholder="User ID", required="")
                      .input-group-btn
                        button.btn.btn-dark(type="submit")
                          i.glyphicon.glyphicon-refresh
                  .form-group
                    input#password.form-control(type="password", ng-model="formData.password", placeholder="Password")
                  .form-group
                    label(for="exampleInputEmail1") Send From
                    br
                    .btn-group.btn-toggle(data-toggle="buttons")
                      label.btn.btn-primary.active(data-toggle="fromUserSwitch", ng-model="formData.fromUser", ng-click="setFromUser(true)")
                        input(type="radio", name="fromUser")
                        | {{formData.engineer}}@novell.com
                      label.btn.btn-default(data-toggle="fromUserSwitch", ng-model="formData.fromUser", ng-click="setFromUser(false)")
                        input(type="radio", name="fromUser")
                        | support@novell.com
                  .form-group
                    label CC
                    br
                    select#cc.btn.input-large.input-dark(name='cc')
                      option(ng-model="formData.ccSupport") None
                      option(ng-model="formData.ccSupport") support@novell.com
                      option(ng-model="formData.ccSupport") support_internal@novell.com
                    select#activityCode.btn.input-small.input-dark(name='activityCode')
                      option(ng-model="formData.activityCode") +EO
                      option(ng-model="formData.activityCode") +SS
                    //- .input-group
                    //-   .btn-group(data-toggle='buttons')
                    //-     label.btn.btn-default.active
                    //-       input#option1(type='radio', checked='checked', name='options')
                    //-       |  Yes
                    //-     label.btn.btn-default
                    //-       input#option2(type='radio', name='options')
                    //-       |  No
                  .form-group
                    .checkbox
                      label
                        input#rememberMe(type="checkbox")
                        | Remember Me
                  div
                    input(type="submit", style="display: none;")
                  
                  <hr>
                  button.btn.btn-default.btn-block(ng-click="open('lg')", style="margin-right:20px") Preview
                  button#sendMail.btn.btn-success.btn-default.btn-block(ng-click="sendMail()", type="button") Send
          #messageContent.col-md-9.column
            .panel.panel-dark
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-list.space-right
                  h3 Content
              .panel-body
                #tabs-187873.tabbable
                  ul.nav.nav-tabs.nav-tabs-dark
                    li.active
                      a(href="#panel-1", data-toggle="tab") Content
                    li
                      a(href="#panel-2", data-toggle="tab") Signature
                  .tab-content
                    #panel-1.tab-pane.active
                      text-angular(ng-model='editorContent')
                    #panel-2.tab-pane
                      text-angular(ng-model='editorSignature')
                      //- include ./includes/quill-signature.jade
                .col-md-12.column(style="margin-top: 20px;")
                  //- include ./includes/template-menu.jade
                  //- button#sendMail.btn.btn-success.btn-default.pull-right(ng-click="sendMail()", type="button") Send
                  //- button.btn.btn-default.pull-right(ng-click="open('lg')", style="margin-right:20px") Preview
        .row.clearfix
          .col-md-12.column
            .panel.panel-dark
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-cloud-download.space-right
                  h3 Service Requests
                  i.glyphicon.glyphicon-refresh.pull-right.pointer(ng-click="getServiceRequests()")
              #srContent.panel-body
                .gridStyle(ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-auto-resize)

block js
  include ./includes/js.jade