extends ../layout.jade

block title
  title qmanagement

block css
  include ./includes/css.jade

block content
  #app(ng-app="myApp")
    #blurMe.main(ng-controller="SRCtrl", ng-init="init()")
      #page
        .row-fluid.clearfix
          .col-md-3.column
            #credentials.panel.panel-dark
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-user.space-right
                  h3 SMTP Login
              .panel-body
                form(ng-submit="getServiceRequests()")
                  .form-group
                    .input-group.add-on
                      input#userid.form-control(type="text", ng-model="formData.engineer", placeholder="User ID", required="")
                      .input-group-btn
                        button.btn.btn-dark(type="submit")
                          i.glyphicon.glyphicon-refresh
                  .form-group
                    input#password.form-control(type="password", ng-model="formData.password", placeholder="Password")
                  .form-group
                    label(for="exampleInputEmail1") Send From
                    br
                    .btn-group.btn-toggle(data-toggle="buttons")
                      label.btn.btn-primary.active(data-toggle="fromUserSwitch", ng-model="formData.fromUser", ng-click="setFromUser(true)")
                        input(type="radio", name="fromUser")
                        | {{formData.engineer}}@novell.com
                      label.btn.btn-default(data-toggle="fromUserSwitch", ng-model="formData.fromUser", ng-click="setFromUser(false)")
                        input(type="radio", name="fromUser")
                        | support@novell.com
                  .form-group
                    label CC Siebel Support
                    br
                    .btn-group
                      label.btn.btn-success(ng-model="formData.ccSupport", btn-radio="''") Nope!
                      label.btn.btn-success(ng-model="formData.ccSupport", btn-radio="'support@novell.com'") Public
                      label.btn.btn-success(ng-model="formData.ccSupport", btn-radio="'support_internal@novell.com'") Internal
                  .form-group
                    .checkbox
                      label
                        input#rememberMe(type="checkbox")
                        | Remember Me
                  div
                    input(type="submit", style="display: none;")
          #messageContent.col-md-9.column
            .panel.panel-dark
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-list.space-right
                  h3 Message / Signature
              .panel-body
                #tabs-187873.tabbable
                  ul.nav.nav-tabs
                    li.active
                      a(href="#panel-1", data-toggle="tab") Content
                    li
                      a(href="#panel-2", data-toggle="tab") Signature
                  .tab-content
                    #panel-1.tab-pane.active
                      include ./includes/quill-content.jade
                    #panel-2.tab-pane
                      include ./includes/quill-signature.jade
                .col-md-12.column(style="margin-top: 20px;")
                  include ./includes/template-menu.jade
                  button#sendMail.btn.btn-success.btn-default.pull-right(ng-click="sendMail()", type="button") Send
                  button.btn.btn-default.pull-right(ng-click="open('lg')", style="margin-right:20px") Preview
        .row.clearfix
          .col-md-12.column
            .panel.panel-dark
              .panel-heading
                h3.panel-title
                  i.glyphicon.glyphicon-cloud-download.space-right
                  h3 Service Requests
                  i.glyphicon.glyphicon-refresh.pull-right.pointer(ng-click="getServiceRequests()")
              #srContent.panel-body
                .gridStyle(ng-grid="gridOptions")

block js
  include ./includes/js.jade