#controlPanel.panel.panel-dark
  .panel-heading
    h3.panel-title
      i.glyphicon.glyphicon-user.space-right
      h3 Configure
  .panel-body.form
    form(ng-submit="getServiceRequests()")
      .form-group
        .input-group.add-on
          input#userid.form-control(type="text", ng-model="formData.engineer", placeholder="User ID", required)
          .input-group-btn
            button.btn.btn-dark(type="submit")
              i.glyphicon.glyphicon-refresh
      .form-group
        input#password.form-control(type="password", ng-model="formData.password", placeholder="Password")
      .form-group
        label(for="exampleInputEmail1") Send From
        br
        .btn-group.btn-toggle(data-toggle="buttons")
          label.btn.btn-primary.active(data-toggle="fromUserSwitch", ng-model="formData.fromUser", ng-click="setFromUser(true)")
            input(type="radio", name="fromUser")
            | {{formData.engineer}}@novell.com
          label.btn.btn-dark(data-toggle="fromUserSwitch", ng-model="formData.fromUser", ng-click="setFromUser(false)")
            input(type="radio", name="fromUser")
            | support@novell.com
      .form-group
        label CC & Siebel Activity Code
        br
        select#cc.btn.input-dark(name='cc' ng-model="formData.ccSupport")
          option None
          option.selected support@novell.com
          option support_internal@novell.com
        select#activityCode.btn.input-dark(name='activityCode' ng-if='formData.ccSupport!=="None"' ng-model='formData.activityCode')
          option +EO
          option +SS
        //- .input-group
        //-   .btn-group(data-toggle='buttons')
        //-     label.btn.btn-default.active
        //-       input#option1(type='radio', checked='checked', name='options')
        //-       |  Yes
        //-     label.btn.btn-default
        //-       input#option2(type='radio', name='options')
        //-       |  No
      .form-group
        .checkbox
          label
            input#rememberMe(type="checkbox")
            | Remember Me
      div
        input(type="submit", style="display: none;")
      
      button.btn.btn-dark.btn-block(ng-click="open('lg')", style="margin-right:20px") Preview
      button#sendMail.btn.btn-success.btn-default.btn-block(ng-click="sendMail()", type="button") Send