link(href="components/ng-grid.min.css", rel="stylesheet")
link(href="components/quill.snow.css", rel="stylesheet")
link(href="components/toastr.css", rel="stylesheet")
link(href="src/css/home.css", rel="stylesheet")
//link(href="src/css/qNinja.css", rel="stylesheet")