link(href="components/angular-ui-grid/ui-grid.min.css", rel="stylesheet")
//- link(href="components/ng-grid.min.css", rel="stylesheet")
//- link(href="components/quill.snow.css", rel="stylesheet")
link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300')
link(href="components/textAngular/textAngular-dark.css", rel="stylesheet")
link(href="components/toastr.css", rel="stylesheet")
link(href="src/css/home.css", rel="stylesheet")
//- link(href="src/css/qNinja.css", rel="stylesheet")