link(rel='stylesheet', href='../bower_components/boostrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href="components/angular-ui-grid/ui-grid.min.css")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
//- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300')
link(href="components/textAngular/textAngular-dark.css", rel="stylesheet")
link(href="components/toastr.css", rel="stylesheet")
link(href="src/css/home.css", rel="stylesheet")
