script(type="text/javascript", src="components/angular-146.min.js")
script(type="text/javascript", src="components/angular-local-storage.min.js")
script(type="text/javascript", src="components/angular-ui-grid/ui-grid.min.js")
script(type="text/javascript", src="components/toastr.min.js")
script(type="text/javascript", src="components/spin.min.js")
script(type="text/javascript", src="components/textAngular/textAngular-rangy.min.js")
script(type="text/javascript", src="components/textAngular/textAngular-sanitize.min.js")
script(type="text/javascript", src="components/textAngular/textAngular.min.js")
script(type="text/javascript", src="src/js/home.js")
script(type="text/javascript", src="src/js/serviceRequests.js")