script(type="text/javascript", src="components/angular.min.js")
script(type="text/javascript", src="components/angular-local-storage.js")
script(type="text/javascript", src="components/ng-grid-2.0.11.min.js")
script(type="text/javascript", src="components/ng-grid-flexible-height.js")
script(type="text/javascript", src="components/ui-bootstrap-tpls-0.11.0.min.js")
script(type="text/javascript", src="components/quill.min.js")
script(type="text/javascript", src="components/toastr.min.js")
script(type="text/javascript", src="components/spin.min.js")
script(type="text/javascript", src="src/js/home.js")
script(type="text/javascript", src="src/js/serviceRequests.js")