#serviceRequests.panel.panel-dark
  .panel-heading
    h3.panel-title
      i.glyphicon.glyphicon-cloud-download.space-right
      h3 Service Requests
      i.glyphicon.glyphicon-refresh.pull-right.pointer(ng-click="getServiceRequests()")
  #srContent.panel-body
    .grid(ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination)