body {
    background: #424242;
    background-image:url(../../../img/debut_dark.png);
    background-position:initial initial;
    background-repeat:initial initial;
    /*margin:10px;*/
    color:#fff;
    margin:0; padding: 0; 
    padding-top:100px;
}

.panel-heading>.accordion-toggle .pull-right {
    color: rgb(153, 153, 153);
}

/* Equal Height */
.equal, .equal > div[class*='col-'] {  
  display: flex;
  flex:1 1 auto;
}
  
.equal {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0;
}

.row.equal:before {
  content: normal; /* undoing hack in bootstrap */
  font: 0\0 a; /* Adding hack back in through another means */
}

.equal > div[class*='col-'] > .panel {
  width: 100%;
}


h1.dark1 {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-weight: bold;
    font-size: 4em;
}
h1.dark {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    /*font: 80px 'LeagueGothicRegular';*/
}

h1 {
    margin-bottom:0;
    margin:0;
    width:100%
}

/*HOVER*/
a:link {
    color:#fff;
    text-decoration:none;
}

a:active {
    color:#fff;
    text-decoration:none;
}

a:visited {
    color:#fff;
    text-decoration:none;
}

ul a:hover {
    background: rgba(255, 255, 255, 0.05);
}

.left-panel {
    width:300px
}

.install {
    height:20px;
    width:20px;
    margin:-2px 10px 0 0
}

/*.panel-group {
    margin-bottom:10px
}*/

body {
    /*font-family:'Roboto';*/
    font-weight:300;
}

.list {
    width:100%;
    display:block;
    float:left;
    list-style:none;
    padding:0;
    margin:0;
}

/*.list li.split a:first-of-type {
    display:inline-block;
    padding-left:20px;
    //width:170px;
    margin-right:0
}*/

/*.list li.split a:nth-child(n+2) {
    padding: 10px 4px;
}*/

.list li.full a {
    display:inline-block;
    padding:10px;
    padding-left:20px;
    width:100%;
    margin-right:0;
}

.split {
    list-style:none;
    padding:0;
    /*width:200px;*/
}

ul img {
/*    border: 0.5px solid black;*/
    border-radius:8px;
    -moz-border-radius:8px;
    -khtml-border-radius:8px;
    -webkit-border-radius:8px
}

.box h6 {
    padding:0 0 0 25px
}

hr {
    border:0;
    height:1px;
    background:#ccc;
    background-image:-webkit-linear-gradient(left,#333,#ccc,#333);
    background-image:-moz-linear-gradient(left,#333,#ccc,#333);
    background-image:-ms-linear-gradient(left,#333,#ccc,#333);
    background-image:-o-linear-gradient(left,#333,#ccc,#333);
    padding:0;
    margin:0
}

p {
    margin:0
}

/*.container {
    margin-top:100px;
    width:auto;
    max-width:1550px;
    overflow-y:hidden;
    overflow-x:hidden
}*/
/*
.panel-group {
    width:602px;
    margin:auto;
    margin-bottom:3px
}

.panel-group-large {
    width:850px
}*/

/*.col-md-4 {
    width:200px;
    margin-left:0;
    margin-bottom:5px;
    padding:0;
    float:left
}*/

h3 {
    font-size:1em;
    font-weight:300;
    font-style:normal;
    display:inline;
    margin-left: 8px;
}

iframe {
    border: 0;
    width:100%;
    min-height:332px;
    /*height:100%;*/
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.panel-body {
    background: rgb(39, 39, 39);
    padding:0;
}

.panel-default {
    border: 1px solid #333;
}

.panel-heading {
    padding:8px 12px;
    background-color:#191919 !important;
    background:#191919 !important;
}

h2 {
    margin:0;
    font-weight:300;
    text-align:center;
    font-size:1em;
    line-height:25px
}

/*COLORS*/
.center {
     float: none !important;
     margin-left: auto !important;
     margin-right: auto !important;
}

.row {
    /*float:left;*/
    margin:0
}

.list > li.row {
    height:40px;
}

.list > li.row a {
    height:100%;
    padding:10px 8px;
}

/*.split.row > a {
    padding:10px 0;
}*/

.panel {
    background-color:#323232 !important;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0;
}

.black {
    background-color:#323232 !important;
    background:#323232 !important;
    border: 1px solid #232323;
}

.red {
    background-color:#f24537;
}

.lightblue {
    -moz-box-shadow:inset 0 1px 0 0 #bbdaf7;
    -webkit-box-shadow:inset 0 1px 0 0 #bbdaf7;
    box-shadow:inset 0 1px 0 0 #bbdaf7;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#79bbff),color-stop(1,#378de5));
    background:-moz-linear-gradient(center top,#79bbff 5%,#378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',endColorstr='#378de5');
    background-color:#79bbff;
    border:1px solid #84bbf3;
    color:#fff;
    text-decoration:none;
    text-shadow:1px 1px 0 #528ecc
}

.darkblue {
    background-color:#1e62d0;
}

.green {
    background-color:#5cb811;
}

.lightgreen {
    -moz-box-shadow:inset 0 1px 0 0 #a4e271;
    -webkit-box-shadow:inset 0 1px 0 0 #a4e271;
    box-shadow:inset 0 1px 0 0 #a4e271;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#89c403),color-stop(1,#77a809));
    background:-moz-linear-gradient(top,#89c403 5%,#77a809 100%);
    background:-webkit-linear-gradient(top,#89c403 5%,#77a809 100%);
    background:-o-linear-gradient(top,#89c403 5%,#77a809 100%);
    background:-ms-linear-gradient(top,#89c403 5%,#77a809 100%);
    background:linear-gradient(to bottom,#89c403 5%,#77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403',endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    border:1px solid #74b807;
    color:#fff;
    text-decoration:none;
    text-shadow:0 1px 0 #528009
}

.orange {
    -moz-box-shadow:inset 0 1px 0 0 #ffe0b5;
    -webkit-box-shadow:inset 0 1px 0 0 #ffe0b5;
    box-shadow:inset 0 1px 0 0 #ffe0b5;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fbb450),color-stop(1,#f89306));
    background:-moz-linear-gradient(top,#fbb450 5%,#f89306 100%);
    background:-webkit-linear-gradient(top,#fbb450 5%,#f89306 100%);
    background:-o-linear-gradient(top,#fbb450 5%,#f89306 100%);
    background:-ms-linear-gradient(top,#fbb450 5%,#f89306 100%);
    background:linear-gradient(to bottom,#fbb450 5%,#f89306 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89306',GradientType=0);
    background-color:#fbb450;
    border:1px solid #c97e1c;
    color:#fff;
    text-decoration:none;
    text-shadow:0 1px 0 #8f7f24
}

@media screen and (orientation:portrait),(min-width: 400px) and (max-width: 1500px) {
    .panel-group {
        clear:left
    }

    .container {
        width:auto;
        max-width:800px
    }
}


/* COLORS */
.blue-sanmarino {
    background: #446CB3;
}
.blue-madison {
    background: #2C3E50;
}
.blue-ebonyclay {
    background: #22313F;
}
.blue-pickledbluewood {
    background: #34495E;
}
.blue-steelblue {
    background: #4B77BE;
}

.red-valencia {
    background: #D64541;
}
.red-chesnutrose {
    background: #D24D57;
}

.purple-honeyflower {
    background: #674172;
}
.purple-rebeccapurple {
    background: #663399;
}

.green-eucalyptus {
    background: #26A65B;
}
.green-silvertree {
    background: #68C3A3;
}
.green-jade {
    background: #00B16A;
}
.green-emerald {
    background: #3FC380;
}



.list li a {
  display:block;
  float:left;
  color:#fff;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
    -webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

.wallboard-panel {
    max-height: 332px;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}